* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #f9fafb;
}

.container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}
.container h1 {
  margin-bottom: 0.8rem;
  color: #0f0e0e;
}

.display-screen {
  background-color: #eee;
  margin-top: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  /* margin: 5rem 10rem;
  padding: 2rem 2rem; */
}
.display-screen input#screen {
  width: 320px;
  height: 40px;
  border-radius: 10px;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-rows: 80px;
  margin: 0.8rem auto;
}
.btn {
  width: 80px;
  height: 80px;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
}

.btn.number {
  background-color: #b2bfd8;
}

.btn.operator {
  background-color: #4b99f7;
}

.btn.equal {
  background-color: #fc3c64;
  width: auto;
  grid-column: 3 / 5;
}
.btn.decimal {
  background-color: #fc9cac;
}
.btn.clear {
  background-color: #0f0e0e;
  color: #f9fafb;
}
.btn.del {
  background-color: #f9fafb;
}
